*{
    margin: 0;
    padding: 0;
}

body{
    background-color: chocolate;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.super_hero{
    width: 80vw;
    height: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* margin-top: 5vw; */
    background-color: rgba(222, 184, 135, 0.479);
    margin: 5vw 0 0 0;
}

.image{
    width: 30vw;
    background: rgba(255, 255, 255, 0.534);
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.status{
    width: 70vw;
    font-size: 2em;
    margin-top: 2vw;
    background: rgba(255, 255, 255, 0.534);
    padding: 30px;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
}
.hero-name{
    text-align: center;
    margin: 10px 0;
}

img{
    width: 20vw;
    padding: 5vw;
    margin-bottom: 10px;
}

.search{
    margin-top: 5vw;
    width: 30vw;
    height: 10vh;
    background: rgba(255, 255, 255, 0.534);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    border-radius: 2vw;
}

#search_hero{
    border-radius: 1vw;
    width: 20vw;
    height: 5vh;
    padding: 4px 30px;
    border: 0px;
    font-size: 1.5em;
}

#search{
    width: 5vw;
    height: 5vh;
    padding: 4px;
    border: 0px;
    border-radius: 2vw;
    font-size: 1.5em;
}
#search ::after, ::before{
    width: 5vw;
    height: 5vh;
    padding: 4px;
    border: 0px;
}

.stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
}